$basic: #EEEEEE;
$water: #4A90E2;
$rock: #8B795E;
$electric: #FFD700;
$fire: #FF4500;
$green: #4CAF50;
$health: #8B0000;

$background: #111111;
$lightDetail: #EEEEEE;
$detail: #AAAAAA;
$darkDetail: #555555;